@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-light: #4a90e2;
  --color-primary-dark: #003366;
  --color-success-light: #4caf50;
  --color-success-dark: #1b5e20;
  --color-warning-light: #ffc107;
  --color-warning-dark: #ff6f00;
  --color-error-light: #f44336;
  --color-error-dark: #b71c1c;
  --color-info-light: #2196f3;
  --color-info-dark: #0d47a1;

  --color-custom1-light: #ffcdd2;
  --color-custom1-dark: #880e4f;
  --color-custom2-light: #d1c4e9;
  --color-custom2-dark: #512da8;
  --color-custom3-light: #c5e1a5;
  --color-custom3-dark: #33691e;
  --color-custom4-light: #fff59d;
  --color-custom4-dark: #ff8f00;
  --color-custom5-light: #80cbc4;
  --color-custom5-dark: #004d40;
  --color-custom6-light: #b0bec5;
  --color-custom6-dark: #263238;
  --color-custom7-light: #ffab91;
  --color-custom7-dark: #d84315;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #efefef;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  border-color: black;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #efefef;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  border-color: black;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #efefef;
}

input[type='range']::-webkit-slider-thumb:active {
  box-shadow:
    inset 0 0 3px #387bbe,
    0 0 9px #387bbe;
  -webkit-box-shadow:
    inset 0 0 3px #387bbe,
    0 0 9px #387bbe;
}

#knob1 {
  height: 0;
  z-index: 11;
}

p {
  margin-bottom: 1em;
}
